.row {
    padding: 5px;
    max-width: 90%;
    font-size: 13px; 
}

.links {
    cursor: pointer;
}

.imgHolder
{
    /*display:flex;*/
    /*margin: 5px;*/
    display: block;
    margin: auto;
    padding: 2px;
}

.button {
    margin: 5px;

}
li.btn-active{
    background-color: red;
}

.nav {
    height: 120px;
}

