<div id="SideBarContainer" class="small-8 small-centered" ng-model="sideBarCtrl">
    <div class="sidebarContent" id="LogoInfos" >
        <div class="WrapperLogo">
            <div class="sidebarContent" id="LogoContainer" >
                <a > <img src="../../img/Logo_LIC.png" alt="Light In Chaos" id="Logo" onclick="goTo('../../')"></a>
            </div>
        </div>

        <ul class="sidebarContent"  id="links">
            <li>
                <div class="links" onclick="goTo('../')">Portfolio</div> 
                <div class="chevronDown">
                    <ul class='underlinks' ng-repeat="cat in Categories">
                        {{cat}}
<!--                        <li class="links" id="Storyboard" onclick="goToImgDir('Storyboard')">Storyboard</li>
                        <li class="links" id="Illustration" onclick="goToImgDir('Illustration')">Illustration</li>
                        <li class="links" id="Graphisme" onclick="goToImgDir('Graphisme')">Graphisme</li>
                        <li class="links" id="Architecture" onclick="goToImgDir('Architecture')">Architecture</li>
                        <li class="links" id="3D" onclick="goToImgDir('3D')">3D</li>
                        <li class="links" id="Video" onclick="goToImgDir('Video')">Video</li>-->
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>