<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>LIC Angular Test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="app/components/version/foundation/css/foundation.css" rel="stylesheet" type="text/css"/>
        <link href="css/animation.css" rel="stylesheet" type="text/css"/>
        <link href="app.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/lightbox.css">
        <script src="js/lightbox.js" type="text/javacript"></script>
    </head>
    <body ng-app="myApp">


        <div class="row">
            <div id="imgDiv"  ng-controller="filesCtrl" > 

                <div id="SideBar" class="small-12 medium-3 large-2 columns">
                    <div id="SideBarContainer" class="small-8 small-centered" ng-model="sideBarCtrl">
                        <div class="sidebarContent" id="LogoInfos" >
                            <div class="WrapperLogo">
                                <div class="sidebarContent" id="LogoContainer" >
                                    <a href="../.."> <img src="../img/Logo-lic-web-white.png" alt="Light In Chaos" id="Logo" ></a>
                                </div>
                            </div>

                            <ul class="sidebarContent"  id="links">
                                <li>
                                    <div class="links" id="Catégories" onclick="goToImgDir()">Portfolio</div> 
                                    <div class="chevronDown">
                                        <ul class='underlinks' ng-repeat="cat in Categories">
                                            <li class="links" id={{cat}} onclick="goToImgDir()">{{cat}}</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <div class="container">
                    <!-- tag a selectionner pour filtrer les sous-catégories -->
                    <div class="nav">
                        <ul class="small-6 medium-8 large-9 columns ">
                            <!-- activer les filtre a partir de là -->
                            <!-- <li class="button filter btn-active" id="all" data-target="all" onclick="chooseFilter()">all</li> -->
                            <li class="button filter" id={{sub}} data-target={{sub}} onclick="chooseFilter()" ng-repeat="sub in Categories[activeFile]">{{sub}}</li>
                        </ul>
                    </div>
                    <!-- div cachée pour l'affichage en grand -->
                    <div id="myModal" class="modal">
                        <!-- The Close Button -->
                        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                        <!-- Modal Caption (Image Text) -->
                        <div class="row">
                            <a id="before" ng-click="slideBefore()">&#10094;</a>
                            <!-- <div id="after" class="small-1 medium-2 large-3 columns" ng-click="slideAfter()"></div> -->
                            <a id="after" ng-click="slideAfter()">&#10095;</a>
                        </div>
                            <div id="caption"></div>
                    </div>

                    <div id="categoriesHolder" class="small-12 medium-9 large-10 columns shuffle-grid" >
                        <ul class="clearing-thumbs" data-clearing>
                            <!-- item -->
                            <li class='small-12 medium-6 large-4 columns slide end item' data-categorie='all {{file.tag[1]}}' ng-repeat='file in Files[activeFile] | filter: tagFilter'>
                                <!-- <a href=Medias/FullSize/{{file.fileName}}> -->
                                <!-- <a href=Medias/Miniatures/{{file.fileName}}> -->
                                    <!-- <img class="imgHolder" data-caption="test legende" src=Medias/Miniatures/{{file.fileName}}> -->
                                    <img class="imgHolder" data-caption="test legende" src=Medias/Miniatures/{{file.fileName}} alt="Trolltunga, Norway" ng-click="openLightBox(file)">

                                <!-- </a> -->
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> 
        </div>
        <script src="app/components/version/jquery/jquery.js" type="text/javascript"></script>
        <script src="app/components/version/foundation/js/foundation.min.js" type="text/javascript"></script>
        <script src="js/foundation/foundation.clearing.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
        <script src="modules/filesCtrl.js" type="text/javascript"></script>
        <!-- <script src="modules/checkboxMgr.js" type="text/javascript"></script> -->
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/shuffle.js" type="text/javacript"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>


